<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MVVM</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css"
    />
    <script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </head>
  <body>
    <div id="mvvm-app">
      <input type="text" v-model="someStr" />
      <input type="text" v-model="child.someStr" />
      <p v-class="className" class="abc">
        {{ someStr }}
        <span v-text="child.someStr"></span>
      </p>
      <p>{{ getHelloWord }}</p>
      <p v-html="htmlStr"></p>
      <button v-on:click="clickBtn">change model</button>
      <ul v-if="showNode">
        <li>{{ number }}</li>
        <li>{{ number1 }}</li>
        <li>{{ number2 }}</li>
      </ul>
      <button v-on:click="showNodeEvent">kaiguan</button>

      <pre><code>hello world , function alertA() {console.log('helloworld')}</code></pre>
    </div>

    <!-- <script src="http://cdn.bootcss.com/vue/1.0.25/vue.js"></script> -->
    <script src="./js/dep.js"></script>
    <script src="./js/observer.js"></script>
    <script src="./js/watcher.js"></script>
    <script src="./js/updater.js"></script>
    <script src="./js/compile.js"></script>
    <script src="./js/mvvm.js"></script>
    <script>
      var vm = new Vuec({
        el: "#mvvm-app",
        data: {
          someStr: "hello ",
          className: "btn",
          htmlStr: '<span style="color: #f00;">red</span>',
          child: {
            someStr: "World !"
          },
          message: "this is test",
          number: 5,
          number1: 1,
          number2: 2,
          showNode: false,
          innerObj: {
            text: "内部对象文本"
          }
        },
        computed: {
          getHelloWord: function() {
            return this.someStr + this.child.someStr;
          }
        },
        methods: {
          clickBtn: function(e) {
            var randomStrArr = ["childOne", "childTwo", "childThree"];
            this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
          },
          add() {
            this.number1 += 1;
            this.number += 1;
          },
          show() {
            this.showNode = !this.showNode;
          },
          showNodeEvent() {
            this.showNode = true;
          }
        },
        watch: {}
      });

      vm.$watch("child.someStr", function() {
        console.log(arguments);
      });
    </script>
  </body>
</html>
