<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MVVM</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css" />
    <script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </head>
  <body>
    <div id="mvvm-app">
      <input type="text" v-model="innerText" />
      <input type="text" v-model="children.innerText" />
      <p v-class="className" class="abc">
        {{ innerText }}
        <span v-text="child.innerText"></span>
      </p>
    </div>
    <script src="./src/module/require.js"></script>
    <script>
      ki.setConfig({
        baseUrl: 'src/instance/',
        paths: {
          dep: 'dep.js',
          observer: 'observer.js',
          watcher: 'watcher.js',
          compile: 'compile.js',
          vnode: 'vnode.js',
          vue: 'vue.js'
        }
      });

      ki.depends(['observer', 'vue'], function() {
        const vm = new Vue({
          el: '#mvvm-app',
          data: {
            innerText: '两只黄鹂鸣翠柳 ',
            children: {
              innerText: '一行白鹭上青天 !'
            }
          }
        });
      });
    </script>
  </body>
</html>
