<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>MVVM</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css"
        />
        <style>
            .wrapper {
                background: #d3d3e2;
            }
        </style>
        <script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad();
        </script>
    </head>
    <body>
        <div id="mvvm-app">
            <input type="text" v-model="someStr" />
            <input type="text" v-model="child.someStr" />
            <p v-class="className" class="abc">
                {{ someStr }}
                <span v-text="child.someStr"></span>
            </p>
            <p>计算属性:{{ getHelloWord }}</p>
            <button v-on:click="changeSomeStr">changeSomeStr</button>
            <button v-on:click="changeChildSomeStr">changeChildSomeStr</button>
            <p v-html="htmlStr"></p>
            <button v-on:click="clickBtn">变更显示内容</button>
            <ul v-if="showNode">
                <li>{{ number }}</li>
                <li>{{ number1 }}</li>
                <li>{{ number2 }}</li>
            </ul>
            <button v-on:click="showNodeEvent">kaiguan</button>
            <pre><code>{{ code }}</code></pre>
            <div id="render"></div>
            <button v-on:click="handleVnodeChange">测试vnode切换</button>
        </div>
        <script src="../../eVue/eVue.js"></script>
        <script>
            const vm = new EVue({
                el: "#mvvm-app",
                data: {
                    someStr: "待到秋来九月八 ",
                    className: "btn",
                    htmlStr: '<span style="color: #f00;">red</span>',
                    child: {
                        someStr: "满城尽带黄金甲 !",
                    },
                    message: "this is test",
                    number: 5,
                    number1: 1,
                    number2: 2,
                    showNode: false,
                    innerObj: {
                        text: "内部对象文本",
                    },
                    code: "const a = 'hello world'; function alertA() {console.log(a)}",
                    message: "虚拟节点初始化message",
                    isShow: true,
                },
                computed: {
                    getHelloWord: function () {
                        return "计算属性getHelloWord => " + this.someStr + this.child.someStr;
                    },
                },
                render() {
                    return EVue.createVnode(
                        "div",
                        {
                            attrs: {
                                class: "wrapper",
                            },
                        },
                        [
                            this.isShow
                                ? EVue.createVnode(
                                      "p",
                                      {
                                          attrs: {
                                              class: "inner",
                                          },
                                      },
                                      this.message
                                  )
                                : EVue.createVnode(
                                      "h1",
                                      {
                                          attrs: {
                                              class: "inner",
                                          },
                                      },
                                      [
                                          EVue.createVnode(
                                              "span",
                                              {
                                                  attrs: {
                                                      class: "inner",
                                                  },
                                              },
                                              "副标题 "
                                          ),
                                          EVue.createVnode(
                                              "span",
                                              {
                                                  attrs: {
                                                      class: "inner",
                                                  },
                                              },
                                              " 作者"
                                          ),
                                      ],
                                      "change to inner - Hello world"
                                  ),

                            EVue.createVnode(
                                "p",
                                {
                                    attrs: {
                                        class: "inner",
                                    },
                                },
                                "默认1 : 配置名称，选择配置时显示"
                            ),
                            EVue.createVnode(
                                "p",
                                {
                                    attrs: {
                                        class: "inner",
                                    },
                                },
                                "默认2 : 关闭该界面，放弃本次编辑内容。"
                            ),
                        ]
                    );
                },
                beforeCreate() {
                    console.log("beforeCreate :");
                },
                created() {
                    console.log("created :");
                },
                beforeMount() {
                    console.log("beforeMount :");
                },
                mounted() {
                    console.log("mounted :");
                    this.child.someStr = "我花开后百花杀";
                },
                methods: {
                    clickBtn(e) {
                        var randomStrArr = ["李白", "杜甫", "辛弃疾"];
                        this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
                        this.add();
                        this.code = "hello world";
                    },
                    add() {
                        this.number++;
                        this.number1++;
                        this.number2--;
                    },
                    show() {
                        this.showNode = !this.showNode;
                    },
                    showNodeEvent() {
                        this.showNode = true;
                    },
                    handleVnodeChange() {
                        this.isShow = !this.isShow;
                        this.update(this.render());
                    },
                    changeSomeStr() {
                        this.someStr = this.someStr + parseInt(Math.random(1, 100) * 1000);
                    },
                    changeChildSomeStr() {
                        this.child.someStr =
                            this.child.someStr + parseInt(Math.random(100, 1000) * 1000);
                    },
                },
                watch: {},
            });

            vm.$watch("child.someStr", function () {
                console.log(arguments);
            });

            setTimeout(function () {
                vm.message = "虚拟节点中p标签变更内容";
                vm.update(vm.render());
            }, 2000);

            setTimeout(function () {
                vm.isShow = false;
                vm.update(vm.render());
            }, 4000);
        </script>
    </body>
</html>
